.taken {
    width: 90%;
    display: flex;
    margin: auto;
    background-color: sandybrown;
    box-sizing: border-box;
}

.taken:before {
    content: "";
    display: inline-block;
    padding-top: 10%;
}

.taken-white {
    border-radius: 25px 25px 0 0;
    border-bottom: none;
}

.taken-black {
    border-radius: 0 0 25px 25px;
    border-top: none;
}

.figure {
    width: 10%;
    margin-left: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.number {
    width: 40%;
    height: 40%;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    justify-self: right;
}

@media (max-width: 700px) {
    .taken-container {
        width: 100%;
    }
}