.square {
    width: 12.5%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    box-sizing: border-box;
}

.square-light {
    background-color: hsl(100, 100%, 45%)
}

.square-dark {
    background-color: hsl(100, 100%, 35%)
}

.square-selected {
    background-color: hsl(100, 100%, 25%)
}

.square:focus {
    background-color: hsl(100, 100%, 25%)
}

.square:before {
    content: "";
    display: inline-block;
    padding-top: 100%;
}