.square {
    width: 7.5vmin;
    height: 7.5vmin;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(100, 100%, 25%)
}

.square-light {
    background-color: sandybrown;
}

.square-dark {
    background-color: saddlebrown;
}

.square-selected {
    box-shadow: inset 0 0 3px 3px hsl(100, 100%, 25%);
}

@media (max-width: 700px) {
    .square {
        width: 11.25vmin;
        height: 11.25vmin;
    }
}
