.current-container {
  align-self: flex-start;
  margin-left: 30px;
}

.current-square {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5em;
}

.current-black {
  background-color: black;
}

.current-white {
  background-color: white;
}