.taken {
    width: 90%;
    display: flex;
    margin: auto;
    border: 2px solid dodgerblue;
    background-color: sandybrown;
    box-sizing: border-box;
}

.taken:before {
    content: "";
    display: inline-block;
    padding-top: 10%;
}

.taken-white {
    border-radius: 25px 25px 0 0;
    border-bottom: none;
}

.taken-black {
    border-radius: 0 0 25px 25px;
    border-top: none;
}

@media (max-width: 660px) {
    .taken-container {
        width: 100%;
    }
}